.circular {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  background: url(http://www.gravatar.com/avatar/068dacb310f3395cd781e2a7cc729c63?s=160) no-repeat;
  }
.row {
  margin-left: 5%;
}
.posts li {
  list-style: none;
}

.contact li {
  list-style: none;
}
