---
layout: default
---

<div class="row">
    <hr>
    <div class="large-12 medium-12 small-12 columns">
        <h4 class='large-12 medium-12 small-12 columns'>Portfolio</h4>
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-equalizer>
            <li data-equalizer-watch>
                <a class='th' href="http://app.lazycupid.me">
                    <img data-caption="caption here..." src="assets/applazycupidmenamechanges-thumb.png"></a>
            </li>
            <li data-equalizer-watch>
                <a href="https://datafiniti.co"><img data-caption="caption 2 here..." src="assets/datafinitico-clipped.png"></a>
            </li>
            <li data-equalizer-watch>
                <a href="https://portal.80legs.com"><img data-caption="caption 3 here..." src="assets/portal80legscom-thumb.png"></a>
            </li>
        </ul>
    </div>
</div>